@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #fefefe;
}

html, body {
    font-family: 'Montserrat', sans-serif;
}

body {
    overflow: hidden;
}

a {
    text-decoration: none;
    font-size: 1.25rem;
}


header {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
}

.logo {
    font-weight: 700;
    font-size: 2.25rem;
}

.navbar > ul {
    list-style: none;
}

.navbar-list > li {
    display: inline-block;
}

.navbar-list > li:not(:last-child) {
    margin-right: 1rem;
}

.h-full {
    height: 100vh;
}

.bg-dark {
    background-color: #000;
}

.separator {
    font-size: 1.5rem;
    color: #616161;
}

.product-presentation {
    display: flex;
    height: 90vh;
}

.presentation {
    width: 100%;
    padding: 5rem;
}

.title {
    width: 90%;
    font-size: 8rem;
    line-height: 6.25rem;
    font-weight: 800;
}

.pretitle {
    width: 50%;
    margin-top: .5rem;
    font-size: 1.55rem;
    line-height: 1.55rem;
}

.mt-0 {
    margin-top: .5rem;
}

.mt-1 {
    margin-top: 1rem;
}

.mt-2 {
    margin-top: 2rem;
}

.btn {
    border: none;
    border-radius: 1.25rem;
    padding: 1.25rem 2rem;
    font-size: 1rem;
    color: #000;
    font-weight: bold;
}

.btn:hover, .btn:focus {
    outline: none !important;
    cursor: pointer;
}

.support {
    display: flex;
    margin-top: 5.75rem;
}

.support > p {
    font-size: 1.05rem;
    width: 50%;
}

.team {
    width: 72px;
    height: auto;
    margin-top: -.5rem;
    margin-right: .75rem;
}

.preview {   
    width: 100%;
}

.bg-cover {
    position: absolute;
    top: 3rem;
    right: 0;
    height: 48rem;
    width: auto;
    background-repeat: no-repeat;
    background-size: cover;
}
