html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
}

body {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, #4d48de, #5853e5, #635dec, #6e67f3, #7872fa);
}

button {
    border: none;
    border-radius: 0px;
    padding: 0px;
}

ul {
    list-style: none;
    text-decoration: none;
    display: inline;
    display: flex;
}



.nav {
    position: fixed;
    top: 0px;
    margin: 0px;
    left: 0px;
    padding: 0px;
    width: 0px;
}

.logo {
    letter-spacing: 1px;
    float: left;
    color: brown;
    font-size: 20px;
    line-height: 60px;
    padding: 0 6px;
}

.menu {
    float: right;
    line-height: 60px;
    margin: 0;
}

.menu ul {
    list-style: none;
}

.menu ul li {
    display: inline-block;
}

.menu ul li a {
    text-decoration: none;
    color: rgb(49, 48, 48);
    font-weight: lighter;
    padding: 0 20px;
}

.h-full {
    height: 100vh;
}

.bg-dark {
    background-color: darkgray;
}

.btn {
    font-size: 10px;
    padding: 20px 12px 20px 12px;
    border-radius: 28px;
    border: none;
    color: #fefefe;
    background: #000;
    font-weight: bold;
}

.apresentacao_produto {
    display: flex;
    height: 55px;
}

.apresentacao {
    width: 100%;
    padding: 55px;
}

.title {
    width: 90%;
    font-size: 100px;
    line-height: 50px;
}

.pretitle {
    width: 60%;
    margin-top: .5rem;
    font-size: 16bbbbbbbbpx;
}

.suport {
    display: flex;
}

.suport>p {
    font-size: 6px;
    width: 50%;
}

.preview {
    width: 100%;
}

.bg-cover {
    position: absolute;
    top: 200px;
    right: -5px;
    height: 360px;
    width: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: darkgray;
}

.btn1 {
    font-size: 10px;
    padding: 20px 12px 20px 12px;
    border-radius: 28px;
    border: none;
    color: #fefefe;
    background: #000;
    font-weight: bold;
}